DB_URL="sqlite:///./weather.db"
DB_USER="admin"
DB_PASSWORD="admin"
WEATHER_API_KEY="key"
WEATHER_API_BASE_URL="https://api.openweathermap.org/data/2.5/"
GEO_API_URL="http://ip-api.com/json/"
GEO_API_FALLBACK_CITY=""
ENVIRONMENT=""
OUTPUT_FILE="weather_report.md"
LOG_LEVEL=INFO/WARNING/CRITICAL
